@model FootbalApp.Models.ViewModel;


<h2>Team Details</h2>
<br />
<div class="container">
    <div class=" row">
        <div class="col-3">
            <p>Name</p>
            <p>City</p>
            <p>Stadium</p>
            <p>Founded Year</p>
        </div>
        <div class="col-3">

            <p>@Model.Team.Name</p>
            <p>@Model.Team.City</p>
            <p>@Model.Team.Stadium</p>
            <p>@Model.Team.Year</p>


        </div>
        <div class="col-6">
            <h6 class="text-black-50 pl-3">History</h6>
            <textarea cols="50" rows="6">@Model.Team.History</textarea>
        </div>
        <div class="row">
            <div class="col-4">
                <a asp-controller="Team" asp-action="Update" asp-route-id="@Model.Team.Id" class="btn btn-info mx-1">Edit</a>
            </div>
            <div class="col-4">
                <a asp-controller="Team" asp-action="Delete" asp-route-id="@Model.Team.Id" class="btn btn-danger mx-1">Delete</a>
            </div>

            <div class="col-4">
                <a asp-action="Index" class="btn btn-dark mx-1">Back</a>
            </div>



        </div>

    </div>
    <br />
    <br />

    <div class="row">
        <h2>Players</h2>
        <br />
        <table class="table table-bordered table-stripped" style="width:100%">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Date of birth</th>
                    <th>Value</th>
                    <th>Team</th>
                </tr>
            </thead>
            <tbody>

                @if(Model.Team.TeamPlayers != null)
                @foreach (var item in Model.Team.TeamPlayers)
                {

                    <tr>
                        <td width="20%">@item.FirstName</td>
                        <td width="20%">@item.LastName</td>
                        <td width="20%">@item.BirthDate.ToShortDateString()</td>
                        <td width="20%">$ @item.Value</td>
                        <td width="20"> @item.Team.Name</td>
                    </tr>


                }




            </tbody>
        </table>


    </div>
    <br />
        <form method="post" asp-controller="Team" asp-action="CreatePlayer">
        <input asp-for="@Model.Team.Id" hidden />
        <div class="row">
            <div class="col-4">
                <p><label asp-for="Player.FirstName"></label></p>
                <p><label asp-for="Player.LastName"></label></p>
                <p><label asp-for="Player.BirthDate"></label></p>
                <p><label asp-for="Player.Value"></label></p>
                
            </div>
            <div class="col-4">
                <p><input asp-for="Player.FirstName" /></p>
                <p><input asp-for="Player.LastName" /></p>
                <p><input type="date" asp-for="Player.BirthDate" /></p>
                <p><input asp-for="Player.Value" /></p>
                
            </div>



        </div>
        <input type="submit"  class="btn btn-info" value="CreatPlayer" />
    </form>

</div>