@model FootbalApp.Models.Data.Team;

<form method="post" asp-action="UpdateTeam">
    <div class="form-group row">
        <h2 class="text-black-50 pl-3">Update Team</h2>
    </div>

    <div class="row">
        <div class="col-3">
            <input type="hidden" asp-for="@Model.Id" />
            <p><label asp-for="Name"></label></p>
            <p><label asp-for="City"></label></p>
            <p><label asp-for="Stadium"></label></p>
            <p><label asp-for="Year"></label></p>
        </div>
        <div class="col-3">
            <input type="hidden" asp-for="@Model.Id" />
            <p><input asp-for="@Model.Name" /></p>
            <p><input asp-for="@Model.City" /></p>
            <p><input asp-for="@Model.Stadium" /></p>
            <p><input asp-for="@Model.Year" /></p>

        </div>
        <div class="col-6">
            <p><label asp-for="@Model.History"></label></p>
            <textarea cols="50" rows="6" asp-for="@Model.History"></textarea>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-8 offset-2 row">
            <div class="col">
                <input type="submit" class="btn btn-info w-75" value="Update" />
            </div>
            <div class="col">
                <a asp-action="Index" class="btn btn-dark w-75">Back</a>
            </div>
        </div>
    </div>

</form>